body {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  background-image: url("https://img.freepik.com/premium-photo/image-colorful-galaxy-sky-generative-ai_791316-9864.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
div {

}
ul {
  width: 300px;
}
li {
  display: flex;
  justify-content: space-around;
}
